{% extends 'front/base.html' %}

{% block title %}达尼论坛-注册{% endblock %}

{% block head %}
    <script src="https://www.yunpian.com/static/official/js/libs/riddler-sdk-0.2.2.js"></script>
    <style type="text/css">
        .yp-riddler .yp-riddler-winbox {
            margin: 280px auto 0 auto;
        }

        .yp-riddler .yp-riddler-slider-area .yp-riddler-slider-btn {
            cursor: pointer;
        }

        .content {
            min-height: 630px;
        }
    </style>
    <script type="text/javascript" src="{{ static("front/js/register.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static("front/css/register.css") }}">

{% endblock %}

{% block content %}
    <div class="top-bg">
        <img src="http://q9xc69071.bkt.clouddn.com/o_1e7t8323guv76sjo051umeo8.png" alt="">
    </div>
    <div class="content">
        <div class="outer-box">
            <div class="page-title">
                <h2>注册</h2>
            </div>
            <div class="register-box">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="昵称">
                    <P class="error-message"></P>
                </div>

                <div class="form-group"></div>

                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="密码（6-16个字符组成，区分大小写）">
                    <P class="error-message"></P>
                </div>

                <div class="form-group"></div>

                <div class="form-group">
                    <input name="telephone" type="text" class="form-control" placeholder="填写常用手机号">
                    <P class="error-message"></P>
                </div>
                <div class="form-group"></div>

                <div class="form-group">
                    <div class="input-group">
                        <input name="smscaptcha" type="text" class="form-control" placeholder="请输入短信验证码">
                        <span id="span_sms" class="input-group-btn ">
                <button id="get_sms" class="btn btn-info">点击获取</button>
                    </span>
                    </div>
                    <P class="error-message"></P>
                </div>

                <div class="form-group form-agree ">
                    <label class="register-agree">
                        <input name="agree" type="checkbox"> 请阅读并同意
                        <a href="javascript:">《用户注册协议》</a>和
                        <a href="javascript:">《隐私政策》</a>
                    </label>
                </div>
                <div class="form-group">
                    <button id="submit" class="btn btn-warning btn-block">注册</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}