
.form-control::-webkit-input-placeholder {
    opacity: 0.7;
}

.form-control {
    height: 40px;
}

.outer-box {
    width: 950px;
    overflow: hidden;
    margin: 0 auto;
}


.logo-box img {
    width: 60px;
    height: 60px;
}

.page-title {
    height: 28px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

.page-title h2 {
    background: #fff;
    font-size: 38px;
    display: inline-block;
    margin: 10px 0;
    padding: 0 20px;
}

.register-box {

    margin: 0 auto;
    padding-top: 80px;
}

.top-bg {
    background: #00a0d8;
    text-align: center;
    height: 86px;
}

.btn-info {
    height: 40px;
    width: 121px;
}

.btn-default {
    height: 40px;
    width: 121px;
}

.btn-warning {
    height: 40px;
}

.form-group {
    margin: 0 auto;
    width: 420px;
    height: 40px;
}

.register-agree {
    font-weight: 500;
    margin: 0;
}

.register-agree > a:link {
    color: #337ab7;
    text-decoration: none;
}


.register-agree > input {
    margin: 0 0 3px 0;
    vertical-align: middle;
}

.form-agree {
    padding: 10px 0;
}

.error-message {
    color: #f4317a;
    display: inline-block;
    width: auto;
    position: relative;
    right: -440px;
    top: -30px;
    margin: 0;
    font-size: 12px;
}

.alert-success {
    width: 200px;
    height: 120px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 380px;
    top: -200px;
    z-index: 99
}

.alert-success > span {
    font-size: 15px;
    margin-top: 30px;

}

.loading {
    width: 40px;
    display: block;
    margin: 0 auto;
}


.sweet-alert {
    top: 45%;
    left: 58%;
    width: 200px;
    height: 125px;
    padding: 0;
}

.sweet-alert .sa-icon.sa-success {
    margin-top: 5px;
    margin-bottom: 0;
}

.sweet-alert h2 {
    font-size: 14px;
    margin-top: 0;
}

